.details{
    display: flex;
    flex-direction: row;
}
.details img {
    width: 200px;
    height: 300px;
}
.details .info {
    padding: 0 20px;
  }
  .info{
    width: 100%;
  }
  .info h3{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #cacbc2;
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
    height: 44px;
    line-height: 35px;
  }
  .mar-top{
    margin-top: 10px;
  }
  .info .describe{
    float: right;
    display: block;
    text-align: left;
    width: 60%;
  }
  .info .info-details {
    float: left;
    width: 35%;
    line-height: 30px;
  }
  .box{
    margin: auto auto;
    min-width: 50px;
    width: 150px;
    max-width: 150px;
    height: 40px;
    background-image: linear-gradient(to right bottom, var(--blue), var(--green));
    padding: 1px;
    border-radius: 50px;
}
  .Ticket-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    text-decoration: none;
}

.Trailer-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    color: var(--gray);
    text-decoration: none;
}
.modal{
  max-width: 800px;
  max-height: 600px;
}
.modal iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 800px;
  height: 600px; */
}